AI News Digest.json
{
  "name": "AI News Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9918cc93-aabf-463a-b586-e8a33e267069",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Limit items to first 10\nconst limit = 10;\nconst limitedItems = items.slice(0, limit);\n\nreturn limitedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        208
      ],
      "id": "c5304047-3b97-4d49-badd-a9eac51ea03c",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "// Limit items to first 10\nconst limit = 10;\nconst limitedItems = items.slice(0, limit);\n\nreturn limitedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        224
      ],
      "id": "c93acdcd-f640-4356-8812-c91de3d6bcd1",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": "// Limit items to first 10\nconst limit = 10;\nconst limitedItems = items.slice(0, limit);\n\nreturn limitedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        240
      ],
      "id": "bc2ff638-116d-4428-a0bd-f19bc8e3626e",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "numberInputs": 10
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1936,
        528
      ],
      "id": "808205d9-43ac-4caf-a13e-7d2c12a26948",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a tech news curator. You ALWAYS select exactly 10 articles.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"=`Select the top 10 most interesting tech articles.\\n\\nArticles:\\n${$('Code').item.json.articlesText}\\n\\nReturn JSON format:\\n{\\n  \\\"selected_articles\\\": [1,2,3,4,5,6,7,8,9,10],\\n  \\\"summaries\\\": {\\\"1\\\": \\\"summary\\\", \\\"2\\\": \\\"summary\\\"},\\n  \\\"relevance_scores\\\": {\\\"1\\\": 8, \\\"2\\\": 7},\\n  \\\"keyInsights\\\": [\\\"insight 1\\\", \\\"insight 2\\\", \\\"insight 3\\\"],\\n  \\\"digest_intro\\\": \\\"intro text\\\"\\n}\\n\\nMUST select exactly 10 articles.`\"\n    }\n  ],\n  \"temperature\": 0.5,\n  \"max_tokens\": 4000\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2576,
        656
      ],
      "id": "45389473-35d4-472a-ad57-243908b90d96",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "lQIYX8SAqyKCZNuF",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cc4a79f-6ffe-44ca-8389-28a3c664213e",
              "name": "userInterests",
              "value": "\"AI, artificial intelligence, startup, business, science, immigration, technology, business, science, innovation\"",
              "type": "string"
            },
            {
              "id": "a009f0b6-3324-4e12-81d5-a935d3bbfd93",
              "name": "excludeTopics",
              "value": "",
              "type": "string"
            },
            {
              "id": "091185d4-da39-49cd-b1c3-89b928e831c4",
              "name": "importanceLevel",
              "value": "Any interesting tech articles",
              "type": "string"
            },
            {
              "id": "f8377fbb-ae53-4346-9168-f9c981298b7c",
              "name": "maxArticles",
              "value": "10",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2336,
        656
      ],
      "id": "d606adaf-c46f-49b3-846f-3bda01a4585b",
      "name": "Set"
    },
    {
      "parameters": {
        "jsCode": "// Extract and format articles\nconst articles = items.map((item, index) => {\n  const data = item.json;\n  return {\n    id: index + 1,\n    title: data.title || 'No title',\n    description: data.description || data.content || 'No description',\n    link: data.link || '',\n    source: data.creator || 'Unknown',\n    pubDate: data.pubDate || data.isoDate || '',\n    categories: data.categories || []\n  };\n});\n\n// Create formatted text for Claude\nconst articlesText = articles.map(article => `\nArticle ${article.id}:\nTitle: ${article.title}\nSource: ${article.source}\nDescription: ${article.description.substring(0, 300)}...\nLink: ${article.link}\n---\n`).join('\\n');\n\nreturn [{\n  json: {\n    articles: articles,\n    articlesText: articlesText,\n    totalCount: articles.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        656
      ],
      "id": "c35515a2-41c0-4f50-937a-41b36f006ec5",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "// Get Groq's response\nconst groqResponse = items[0].json;\nconst aiContent = groqResponse.choices[0].message.content;\n\n// Clean and extract JSON\nlet cleanJson = aiContent\n  .replace(/```json\\n?/g, '')\n  .replace(/```\\n?/g, '')\n  .trim();\n\nconst jsonStart = cleanJson.indexOf('{');\nconst jsonEnd = cleanJson.lastIndexOf('}');\n\nif (jsonStart !== -1 && jsonEnd !== -1) {\n  cleanJson = cleanJson.substring(jsonStart, jsonEnd + 1);\n}\n\n// Parse JSON\nlet aiData;\ntry {\n  aiData = JSON.parse(cleanJson);\n} catch (error) {\n  return [{\n    json: {\n      error: 'Failed to parse JSON',\n      errorMessage: error.message,\n      receivedContent: aiContent.substring(0, 500),\n      digestIntro: 'Error processing articles',\n      keyInsights: [],\n      articles: [],\n      totalArticles: 0\n    }\n  }];\n}\n\n// Get ALL articles\nconst allArticles = $('Code').first().json.articles || [];\n\n// Take first 10 articles\nconst selectedArticles = allArticles.slice(0, 10);\n\n// Add AI summaries to them\nconst articlesWithSummaries = selectedArticles.map((article, index) => {\n  const idKey = String(index + 1);\n  const summaryData = aiData.summaries?.[idKey];\n  const scoreData = aiData.relevance_scores?.[idKey];\n  \n  return {\n    ...article,\n    aiSummary: typeof summaryData === 'string' \n      ? summaryData \n      : (summaryData?.text || summaryData?.summary || `Summary of ${article.title}`),\n    relevanceScore: typeof scoreData === 'number'\n      ? scoreData\n      : (scoreData?.score || scoreData?.value || 7)\n  };\n});\n\n// SORT BY RELEVANCE SCORE (DESCENDING - highest first)\narticlesWithSummaries.sort((a, b) => b.relevanceScore - a.relevanceScore);\n\nreturn [{\n  json: {\n    digestIntro: aiData.digest_intro || 'Your daily tech digest - sorted by relevance',\n    keyInsights: (aiData.keyInsights || aiData.key_insights || []).map(insight => \n      typeof insight === 'string' ? insight : String(insight.text || insight.insight || insight)\n    ),\n    articles: articlesWithSummaries,\n    totalArticles: articlesWithSummaries.length,\n    generatedAt: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2784,
        656
      ],
      "id": "37cca83b-c10f-4442-84e7-f6d4eea9f0e4",
      "name": "Parse Response"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\n// Generate HTML email\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body {\n      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;\n      line-height: 1.6;\n      color: #333;\n      max-width: 600px;\n      margin: 0 auto;\n      padding: 20px;\n      background-color: #f5f5f5;\n    }\n    .container {\n      background-color: white;\n      border-radius: 8px;\n      padding: 30px;\n      box-shadow: 0 2px 4px rgba(0,0,0,0.1);\n    }\n    h1 {\n      color: #2c3e50;\n      border-bottom: 3px solid #3498db;\n      padding-bottom: 10px;\n      margin-top: 0;\n    }\n    .date {\n      color: #7f8c8d;\n      font-size: 14px;\n      margin-bottom: 20px;\n    }\n    .intro {\n      font-size: 16px;\n      color: #555;\n      font-style: italic;\n      margin: 20px 0;\n      padding: 15px;\n      background-color: #f8f9fa;\n      border-left: 4px solid #3498db;\n    }\n    .insights {\n      background-color: #fff3cd;\n      border-left: 4px solid #ffc107;\n      padding: 15px;\n      margin: 20px 0;\n      border-radius: 4px;\n    }\n    .insights h3 {\n      margin-top: 0;\n      color: #856404;\n      font-size: 18px;\n    }\n    .insights ul {\n      margin: 10px 0;\n      padding-left: 20px;\n    }\n    .insights li {\n      margin: 8px 0;\n      color: #856404;\n    }\n    .article {\n      margin: 25px 0;\n      padding: 20px;\n      border: 1px solid #e0e0e0;\n      border-radius: 6px;\n      background-color: #fafafa;\n      transition: transform 0.2s;\n    }\n    .article:hover {\n      transform: translateY(-2px);\n      box-shadow: 0 4px 8px rgba(0,0,0,0.1);\n    }\n    .article-header {\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      margin-bottom: 10px;\n    }\n    .article-number {\n      background-color: #3498db;\n      color: white;\n      padding: 4px 12px;\n      border-radius: 12px;\n      font-size: 12px;\n      font-weight: bold;\n    }\n    .relevance-badge {\n      display: inline-block;\n      padding: 4px 12px;\n      border-radius: 12px;\n      font-size: 12px;\n      font-weight: bold;\n      color: white;\n    }\n    .high { background-color: #28a745; }\n    .medium { background-color: #ffc107; color: #333; }\n    .low { background-color: #6c757d; }\n    .article h3 {\n      margin: 10px 0;\n      color: #2c3e50;\n      font-size: 18px;\n    }\n    .article h3 a {\n      color: #3498db;\n      text-decoration: none;\n    }\n    .article h3 a:hover {\n      text-decoration: underline;\n    }\n    .meta {\n      font-size: 13px;\n      color: #666;\n      margin: 8px 0;\n    }\n    .summary {\n      margin: 15px 0;\n      padding: 12px;\n      background-color: white;\n      border-left: 3px solid #3498db;\n      font-size: 14px;\n      line-height: 1.6;\n    }\n    .read-more {\n      display: inline-block;\n      margin-top: 10px;\n      padding: 8px 16px;\n      background-color: #3498db;\n      color: white;\n      text-decoration: none;\n      border-radius: 4px;\n      font-size: 14px;\n    }\n    .read-more:hover {\n      background-color: #2980b9;\n    }\n    .footer {\n      margin-top: 30px;\n      padding-top: 20px;\n      border-top: 1px solid #e0e0e0;\n      text-align: center;\n      font-size: 12px;\n      color: #999;\n    }\n    .stats {\n      background-color: #e8f4f8;\n      padding: 15px;\n      border-radius: 6px;\n      margin: 20px 0;\n      text-align: center;\n    }\n    .stats-number {\n      font-size: 32px;\n      font-weight: bold;\n      color: #3498db;\n    }\n    .stats-label {\n      color: #7f8c8d;\n      font-size: 14px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>🗞️ Your Personalized News Digest</h1>\n    <div class=\"date\">\n      ${new Date().toLocaleDateString('en-US', { \n        weekday: 'long', \n        year: 'numeric', \n        month: 'long', \n        day: 'numeric' \n      })}\n    </div>\n    \n    <div class=\"intro\">\n      ${data.digestIntro}\n    </div>\n    \n    <div class=\"stats\">\n      <div class=\"stats-number\">${data.totalArticles}</div>\n      <div class=\"stats-label\">Curated Articles Just For You</div>\n    </div>\n    \n    ${data.keyInsights && data.keyInsights.length > 0 ? `\n    <div class=\"insights\">\n      <h3>🔑 Key Insights Today</h3>\n      <ul>\n        ${data.keyInsights.map(insight => `<li>${insight}</li>`).join('')}\n      </ul>\n    </div>\n    ` : ''}\n    \n    <h2>📰 Today's Top Stories</h2>\n    \n    ${data.articles.map((article, index) => `\n      <div class=\"article\">\n        <div class=\"article-header\">\n          <span class=\"article-number\">#${index + 1}</span>\n          <span class=\"relevance-badge ${\n            article.relevanceScore >= 8 ? 'high' : \n            article.relevanceScore >= 5 ? 'medium' : 'low'\n          }\">\n            ${article.relevanceScore}/10 Relevance\n          </span>\n        </div>\n        <h3>\n          <a href=\"${article.link}\" target=\"_blank\">${article.title}</a>\n        </h3>\n        <div class=\"meta\">\n          📍 ${article.source} | 📅 ${new Date(article.pubDate).toLocaleDateString()}\n        </div>\n        <div class=\"summary\">\n          <strong>AI Summary:</strong> ${article.aiSummary}\n        </div>\n        <a href=\"${article.link}\" class=\"read-more\" target=\"_blank\">Read Full Article →</a>\n      </div>\n    `).join('')}\n    \n    <div class=\"footer\">\n      <p>Generated by AI News Digest powered by Groq</p>\n      <p>${new Date(data.generatedAt).toLocaleString()}</p>\n      <p style=\"margin-top: 10px;\">\n        <a href=\"#\" style=\"color: #3498db; text-decoration: none;\">Unsubscribe</a> | \n        <a href=\"#\" style=\"color: #3498db; text-decoration: none;\">Update Preferences</a>\n      </p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\n// Also create a plain text version\nconst plainText = `\nYOUR PERSONALIZED NEWS DIGEST\n${new Date().toLocaleDateString()}\n\n${data.digestIntro}\n\n${data.totalArticles} Curated Articles\n\n${data.keyInsights && data.keyInsights.length > 0 ? `\nKEY INSIGHTS:\n${data.keyInsights.map((insight, i) => `${i + 1}. ${insight}`).join('\\n')}\n` : ''}\n\nTODAY'S TOP STORIES:\n${data.articles.map((article, index) => `\n${index + 1}. ${article.title}\n   Source: ${article.source}\n   Relevance: ${article.relevanceScore}/10\n   Summary: ${article.aiSummary}\n   Read more: ${article.link}\n`).join('\\n')}\n\n---\nGenerated: ${new Date(data.generatedAt).toLocaleString()}\n`;\n\nreturn [{\n  json: {\n    html: html,\n    plainText: plainText,\n    subject: `📰 Your Daily Digest: ${data.totalArticles} Stories Curated for You - ${new Date().toLocaleDateString()}`,\n    digestData: data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2992,
        656
      ],
      "id": "0394674a-6206-419f-8e39-974645d5c9e3",
      "name": "Format Email"
    },
    {
      "parameters": {
        "sendTo": "=roshni.dhami08@gmail.com",
        "subject": "=={{ $json.subject }}",
        "message": "=={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3184,
        656
      ],
      "id": "ad3b0583-fe19-4242-82b5-d3b4a04284ab",
      "name": "Send a message",
      "webhookId": "1f1a98bd-4a70-4549-8f4f-bc3e91689ef5",
      "credentials": {
        "gmailOAuth2": {
          "id": "agPxn2uY0mMxFB66",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {
          "customFields": "=// Limit items to first 10\nconst limit = 10;\nconst limitedItems = items.slice(0, limit);\n\nreturn limitedItems;\n",
          "ignoreSSL": false
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "8fd34b06-f177-48b4-8605-9b6b7c86b2ec",
      "name": "RSS Read - TechCrunch",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "url": "https://news.ycombinator.com/rss",
        "options": {
          "customFields": "limit: 10",
          "ignoreSSL": false
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        800,
        0
      ],
      "id": "5bc4a1f8-a458-4803-b71e-dc7c08c5ce0d",
      "name": "RSS Read - ycombinator",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://www.wired.com/feed/tag/ai/latest/rss",
        "options": {
          "customFields": "=// Limit items to first 10 const limit = 10; const limitedItems = items.slice(0, limit);  return limitedItems;"
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        496,
        0
      ],
      "id": "b4eca604-78e3-4b48-8ae6-ea2b276e4551",
      "name": "RSS Read - Wired",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Limit items to first 10\nconst limit = 10;\nconst limitedItems = items.slice(0, limit);\n\nreturn limitedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        208
      ],
      "id": "519e39c9-b35e-43a1-9dd9-adbd38a520db",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Limit items to first 10\nconst limit = 10;\nconst limitedItems = items.slice(0, limit);\n\nreturn limitedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        208
      ],
      "id": "737de85c-12ec-40cc-a774-f756559c53e6",
      "name": "Code in JavaScript6"
    },
    {
      "parameters": {
        "jsCode": "// Limit items to first 10\nconst limit = 10;\nconst limitedItems = items.slice(0, limit);\n\nreturn limitedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        208
      ],
      "id": "0e1cc4a6-b6f1-4e66-aa78-8902886acb5b",
      "name": "Code in JavaScript7"
    },
    {
      "parameters": {
        "url": "https://blog.google/technology/ai/rss/",
        "options": {
          "customFields": "",
          "ignoreSSL": true
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1072,
        0
      ],
      "id": "8f4b060b-21eb-423f-b5a1-8295e300736a",
      "name": "RSS Read - Google rss"
    },
    {
      "parameters": {
        "url": "https://mashable.com/feeds/rss/tech",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1344,
        0
      ],
      "id": "dde1647b-af87-4dc0-80a4-24799387dc32",
      "name": "RSS Read - Mashable"
    },
    {
      "parameters": {
        "url": "https://news.mit.edu/rss/topic/artificial-intelligence2",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1632,
        16
      ],
      "id": "910b2abe-9d9e-4998-a579-24b3033b2849",
      "name": "RSS Read - Mit"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read - TechCrunch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "RSS Read - Mashable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "RSS Read - Mit",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read - TechCrunch": {
      "main": [
        [
          {
            "node": "Code in JavaScript7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read - ycombinator": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read - Wired": {
      "main": [
        [
          {
            "node": "Code in JavaScript6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "RSS Read - Google rss",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Code in JavaScript6": {
      "main": [
        [
          {
            "node": "RSS Read - ycombinator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Code in JavaScript7": {
      "main": [
        [
          {
            "node": "RSS Read - Wired",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "RSS Read - Google rss": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read - Mashable": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read - Mit": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "dynamic",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "94850633-1fb4-40b1-aa36-6ec86f1d3480",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7012f8fa3143f9105a4ab74f2200a5841a0bb524e06c6a240663c5be5fe5ecba"
  },
  "id": "svYT_KhPMukqkGEywgl5S",
  "tags": []
}